# Doxygen output
docs/*

# OS/editor junk
*.swp
*.swo
*~
.DS_Store

chip8-test-suite
chip8-roms

build/*
bin/*
!bin/resources/
run.sh

.idea
.cache

.gitwindeps
/out
/.vs
CMakeSettings.json
perf.*
windeps/

# Junk stuff
ignore_dir/*
